*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

.mid-content{
	width: 90%;
	margin: auto;
	margin-top: 20px;
}
.table{
	width: 100%;
	border-collapse: collapse;
}
.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}
.table th{
	background-color: rgb(49, 49, 204);
	color:#ffffff;
}
.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive table css start*/
@media(max-width: 550px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;  
	}
	.table td{
		text-align: right;
	    padding-left: 50%;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:2px;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
/*responsive table css end*/






